@import '~node_modules/modern-normalize/modern-normalize.css';
.padding-list {
  padding-left: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.text-delete {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__title-second, .advantages__title, .about__title, .products__title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .footer__title-second, .advantages__title, .about__title, .products__title {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title-second, .advantages__title, .about__title, .products__title {
    font-size: 58px;
    line-height: 1.13;
  }
}

.footer__title, .about__title .about__span-title, .products__sub-title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 20px;
  background-color: #d41443;
  color: #ffffff;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #d41342;
}

.about__button, .btn--made, .buy-now-button {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  color: #d41443;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.about__button:hover, .btn--made:hover, .buy-now-button:hover, .about__button:focus, .btn--made:focus, .buy-now-button:focus {
  background-color: #ecebeb;
}

.img-position {
  display: block;
  max-width: 100%;
}

.header {
  background-color: #ffb8ca;
}

.header > .container {
  padding: 8px 20px;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header > .container {
    padding-top: 32px;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .nav__logo {
    margin-right: 128px;
  }
}

.menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
  }
}

.menu__item {
  margin-right: 35px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #FFFFFF;
}
.menu__link:hover, .menu__link:focus {
  color: #d41443;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__btn-wrap {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__btn-wrap {
    display: flex;
    align-items: center;
  }
}

.nav__mob-btn {
  background-color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}
.nav__mob-btn-icon {
  stroke: #d41443;
}
.nav__mob-btn:hover .nav__mob-btn-icon, .nav__mob-btn:focus .nav__mob-btn-icon {
  stroke: #ffffff;
  outline: transparent;
}
@media screen and (min-width: 768px) {
  .nav__mob-btn {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__mob-btn {
    display: none;
  }
}

.mob-menu__close-btn {
  background-color: transparent;
  display: block;
  border: 1px solid transparent;
  margin-left: auto;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  stroke: #ffffff;
  padding: 0;
}
.mob-menu__close-btn:hover, .mob-menu__close-btn:focus {
  stroke: #d41443;
  outline: transparent;
}

.mob-menu {
  display: block;
  position: absolute;
  z-index: 1000;
  background-color: #e17992;
  top: 0;
  right: 0;
  width: 254px;
  height: 100vh;
  padding: 60px 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 1200px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
}

.buy-now-button {
  height: 44px;
  padding: 0 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  min-width: 160px;
}
.buy-now-button:hover, .buy-now-button:focus {
  background-color: #ECEBEB;
}

.buy-now-button--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .buy-now-button--tablet {
    display: block;
    margin-bottom: 0;
  }
}

.mob-menu__buy-now-button-icon {
  stroke: #d41443;
  margin-left: 20px;
}

.mob-menu-list__item {
  padding-top: 11px;
  padding-bottom: 13px;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}

.mob-menu-list__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: #d41443;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.active {
  color: #d41443;
}

.alignment {
  position: relative;
}

.hero {
  padding-top: 194px;
  overflow: hidden;
  background-color: #ffb8ca;
}
@media screen and (min-width: 385px) and (max-width: 767px) {
  .hero {
    padding-bottom: 158px;
    background-position: 50% 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    padding-bottom: 158px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 102px;
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 147px;
    padding-bottom: 84px;
  }
}

.achive-title--wrap {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .achive-title--wrap {
    margin-bottom: 61px;
  }
}

.hero__title {
  max-width: 218px;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 1.13;
    max-width: 162px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 38px;
    line-height: 1.15;
    max-width: 277px;
    margin-bottom: 24px;
  }
}

.hero__title--color {
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .hero__title--color {
    font-size: 34px;
    line-height: 90.5%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title--color {
    font-size: 58px;
    line-height: 90.5%;
  }
}

.btn {
  font-size: 8px;
  line-height: 1.25;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 14px;
  padding-left: 14px;
}
@media screen and (min-width: 1200px) {
  .btn {
    font-size: 14px;
    line-height: 1.28;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .btn--made {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.buttons__list {
  display: flex;
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .buttons__item:not(:last-child) {
    margin-right: 12px;
  }
}

.achive {
  display: none;
}
@media screen and (min-width: 768px) {
  .achive {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .achive {
    padding-right: 15px;
  }
}

.achive__amount {
  position: relative;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  z-index: 999;
}
.achive__amount::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: -4px;
  z-index: -1;
}
@media screen and (min-width: 1200px) {
  .achive__amount {
    font-size: 46px;
    line-height: 1.15;
  }
  .achive__amount::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: -15px;
    z-index: -1;
  }
}

.achive__position {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .achive__position {
    font-size: 14px;
    line-height: 1.28;
  }
}

.achive__title:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .achive__title:not(:last-child) {
    margin-bottom: 15px;
  }
}

.hero__text--wrap {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__text--wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 114px;
    margin-left: 184px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text--wrap {
    max-width: 200px;
    left: 229px;
    bottom: 84px;
    margin-left: 213px;
  }
}

.hero__text {
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 7px;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;
  }
}

.btn--more {
  border: none;
  width: 18px;
  height: 18px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .btn--more {
    width: 26px;
    height: 26px;
  }
}

.icecream {
  position: absolute;
  bottom: 0px;
  left: 36px;
}
@media screen and (min-width: 768px) {
  .icecream {
    left: 248px;
  }
}
@media screen and (min-width: 1200px) {
  .icecream {
    left: 517px;
  }
}

.girl {
  display: none;
}
@media screen and (min-width: 768px) {
  .girl {
    display: block;
    position: absolute;
    right: 32px;
    bottom: -56px;
  }
}
@media screen and (min-width: 1200px) {
  .girl {
    right: 16px;
    bottom: -84px;
  }
}

.milk {
  display: none;
}
@media screen and (min-width: 768px) {
  .milk {
    display: block;
    position: absolute;
    left: 32px;
    bottom: -40px;
  }
}
@media screen and (min-width: 1200px) {
  .milk {
    display: block;
    position: absolute;
    left: 16px;
    bottom: -40px;
  }
}

.products__sub-title {
  display: block;
  margin-bottom: 15px;
}

.products__title {
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 158px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 281px;
  }
}

.products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.products__item {
  position: relative;
  text-align: center;
  flex-grow: 1;
  border-radius: 24px;
  min-height: 489px;
}
@media screen and (min-width: 768px) {
  .products__item {
    width: calc((100% - 32px) / 3);
    min-height: 473px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    width: calc((100% - 64px) / 3);
    min-height: 535px;
    margin-right: 32px;
  }
}

.products__item:nth-child(3n) {
  margin-right: 0px;
}

.products__item:nth-child(1) {
  background: #ffb8ca;
}
@media screen and (max-width: 767px) {
  .products__item:nth-child(1) {
    margin-bottom: 140px;
  }
}

.products__item:nth-child(2) {
  background: #f0d1a5;
}
@media screen and (max-width: 767px) {
  .products__item:nth-child(2) {
    margin-bottom: 140px;
  }
}

.products__item:nth-child(3) {
  background: #c2e297;
}

.products__item:nth-child(1)::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  min-height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  background-image: url("../images/products/ice-cream-1x.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(1)::before {
    background-image: url("../images/products/ice-cream-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products__item:nth-child(1)::before {
    width: 100%;
    min-height: 224px;
    transform: translateY(-138px);
    background-image: url("../images/products/ice-cream-tab-1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:nth-child(1)::before {
    background-image: url("../images/products/ice-cream-tab-2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(1)::before {
    width: 100%;
    min-height: 394px;
    transform: translateY(-261px);
    background-image: url("../images/products/ice-cream-desk-1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(1)::before {
    background-image: url("../images/products/ice-cream-desk-2x.png");
  }
}

.products__item:nth-child(2)::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  min-height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  background-image: url("../images/products/coffee-1x.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url("../images/products/coffee-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products__item:nth-child(2)::before {
    width: 100%;
    min-height: 224px;
    transform: translateY(-138px);
    background-image: url("../images/products/coffee-tab-1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url("../images/products/coffee-tab-2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(2)::before {
    width: 100%;
    min-height: 394px;
    transform: translateY(-261px);
    background-image: url("../images/products/coffee-desk-1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url("../images/products/coffee-desk-2x.png");
  }
}

.products__item:nth-child(3)::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  min-height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  background-image: url("../images/products/milkshake-1x.png");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url("../images/products/milkshake-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products__item:nth-child(3)::before {
    width: 100%;
    min-height: 224px;
    transform: translateY(-138px);
    background-image: url("../images/products/milkshake-tab-1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url("../images/products/milkshake-tab-2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(3)::before {
    width: 100%;
    min-height: 394px;
    transform: translateY(-261px);
    background-image: url("../images/products/milkshake-desk-1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url("../images/products/milkshake-desk-2x.png");
  }
}

.products__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  /*max-width: 200px;
  margin: 0 auto;*/
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 140px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .products__wrap {
    padding-top: 86px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products__wrap {
    padding-top: 133px;
    padding-left: 61px;
    padding-right: 61px;
    padding-bottom: 60px;
  }
}

.products__item-title {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .products__item-title {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item-title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__item-title::after {
  content: "";
  display: block;
  margin: 32 auto;
  width: 26px;
  height: 6px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: url("../images/products/products-dot.svg"), url("../images/products/products-dot.svg"), url("../images/products/products-dot.svg");
  background-position: 0px 0px, 10px 0px, 20px 0px;
}

.products__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 32px;
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .products__text {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .products__text {
    line-height: 1.75;
  }
}
@media screen and (min-width: 1200px) {
  .products__text {
    margin-bottom: 60px;
  }
}

.products__btn {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin: 0 auto;
}

.about__title {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 60px;
  }
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../images/about/milk.png);
  background-repeat: no-repeat;
  background-position: 50% 70%;
}
@media screen and (min-width: 768px) {
  .about__list {
    flex-wrap: nowrap;
    background-image: none;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    background-image: url(../images/about/milk-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about__list {
    background-image: url(../images/about/milk-desk-1x.png);
  }
}

.about__item {
  width: 280px;
}
@media screen and (min-width: 768px) {
  .about__item {
    width: 100%;
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: 501px;
    margin-left: 99px;
  }
}
.about__item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.about__item img {
  min-width: 280px;
}
@media screen and (min-width: 768px) {
  .about__item img {
    width: 100%;
  }
}

.about__text {
  width: 220px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #907e82;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-bottom: 0px;
    width: 100%;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
    line-height: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    margin-bottom: 40px;
  }
}
.about__text--black {
  color: #000000;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .about__text--black {
    margin-top: 90px;
    margin-bottom: 32px;
  }
}

.about__button {
  width: 176px;
  height: 44px;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  padding: 0;
}
.about__button .about__button-icon {
  stroke: #d41443;
  margin-left: 13px;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.advantages {
  background-color: #fff5f6;
  padding-top: 0;
  padding-bottom: 0;
}

.advantages .container {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .advantages .container {
    padding: 0 32px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages .container {
    padding: 0 16px 60px;
  }
}

.advantages__list {
  display: inline-block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item {
    max-width: 230px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: 180px;
    margin-right: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 288px;
    margin-right: 115px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.advantages__box {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__box {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__box {
    margin-bottom: 40px;
  }
}

.advantages__title {
  height: 56px;
  margin-bottom: 4px;
  font-size: 36px;
  text-align: left;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    margin-bottom: 13px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    height: 65px;
    margin-bottom: 16px;
    font-size: 58px;
  }
}

.advantages__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  text-align: left;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}

.gallery {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .gallery {
    background-image: linear-gradient(#fff5f6 13%, #ffffff 13%);
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(#fff5f6 46%, #ffffff 46%);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    background-image: linear-gradient(#fff5f6 24%, #ffffff 24%);
  }
}
.gallery .container {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 1200px) {
  .gallery .container {
    padding-left: 93px;
    padding-right: 94px;
  }
}
.gallery.section {
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .gallery.section {
    padding-top: 60px;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  row-gap: 0px;
}

.gallery-grid > div {
  aspect-ratio: 1/1;
}

.gallery-grid-1 {
  grid-area: 3/1/5/2;
}

.gallery-grid-2 {
  grid-area: 2/2/4/3;
}

.gallery-grid-3 {
  grid-area: 1/3/5/5;
}

.gallery-grid-4 {
  grid-area: 3/5/5/6;
}

.gallery-grid-5 {
  grid-area: 2/6/4/7;
}

.gallery-grid-6 {
  grid-area: 3/7/5/8;
}

.gallery-grid-7 {
  grid-area: 4/2/6/3;
}

.gallery-grid-8 {
  grid-area: 5/3/7/4;
}

.gallery-grid-9 {
  grid-area: 5/5/7/6;
}

.gallery-grid-10 {
  grid-area: 4/6/6/7;
}

.gallery--img-scale {
  transition: transform 1s;
}
.gallery--img-scale:hover, .gallery--img-scale:focus {
  transform: scale(1.5);
}
@media screen and (max-width: 767px) {
  .gallery--img-scale:hover, .gallery--img-scale:focus {
    transform: scale(2);
  }
}

.reviews {
  padding-bottom: 88px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 124px;
  }
}

.reviews__container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .reviews__container {
    width: 620px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__container {
    width: 968px;
  }
}

.reviews__list {
  display: flex;
}

.reviews__item {
  text-align: center;
}

.reviews__comment-general-wrapper {
  margin-bottom: 16px;
}
.reviews__comment-general-wrapper::after {
  text-indent: 10px;
  content: "...";
  display: inline-block;
  font-size: 40px;
  color: #c7133e;
  letter-spacing: 10px;
  line-height: 16px;
}
@media screen and (min-width: 768px) {
  .reviews__comment-general-wrapper::after {
    line-height: 40px;
  }
}

.reviews__comment-wrapper {
  position: relative;
  padding-top: 43px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .reviews__comment-wrapper {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__comment-wrapper {
    padding-top: 47px;
    padding-left: 73px;
    padding-right: 74px;
  }
}

.reviews__comment {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.5833;
}
@media screen and (min-width: 768px) {
  .reviews__comment {
    font-size: 14px;
    line-height: 2.1428;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__comment {
    font-size: 16px;
    line-height: 1.875;
  }
}

.reviews__comment-wrapper--for-quote {
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 8px;
  background: repeating-linear-gradient(to bottom, transparent -1px, transparent 29px, transparent 29px, #e1e1e1 31px);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews__comment-wrapper--for-quote {
    padding-left: 45px;
    padding-right: 50px;
    background: repeating-linear-gradient(to bottom, transparent, transparent 29px, transparent 29px, #e1e1e1 31px);
  }
}
.reviews__comment-wrapper--for-quote::before {
  content: "";
  background-image: url(../images/clients-review/quote.svg);
  position: absolute;
  top: 30px;
  left: 53px;
  width: 54px;
  height: 40px;
  background-size: contain;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews__comment-wrapper--for-quote::before {
    width: 60px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .reviews__comment-wrapper--for-quote::before {
    left: 6px;
    top: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__comment-wrapper--for-quote::before {
    left: 72px;
    top: 32px;
  }
}

.reviews__img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.reviews__user-data {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
}

.splide__pagination {
  position: relative;
  bottom: -28px;
}
.splide__pagination li:not(:last-child) {
  margin-right: 18px;
}
.splide__pagination li {
  width: 12px;
  height: 12px;
}
.splide__pagination button {
  margin: 0;
  background-color: #d9d9d9;
}

.splide__pagination__page.is-active {
  background-image: url(../images/clients-review/home.svg);
  transform: scale(1);
  border-radius: 0;
  opacity: 1;
}

.splide__pagination__page {
  width: 12px;
  height: 12px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  background-color: #fff5f6;
}

.footer__title-box {
  max-width: 234px;
}
@media screen and (min-width: 1200px) {
  .footer__title-box {
    max-width: 100%;
  }
}

.footer__box {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-bottom: 60px;
  }
}

.footer__title {
  margin-bottom: 16px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer__title-second {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer__title-second {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title-second {
    font-size: 58px;
    line-height: 1.14;
  }
}

.container,
.footer__container {
  padding-left: 20px;
  padding-right: 20px;
}

.footer__link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list {
  display: flex;
  margin-bottom: 40px;
  justify-content: flex-end;
}

.footer__list {
  gap: 28px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fea5bb;
  width: 32px;
  height: 32px;
}

.footer__link:hover {
  background-color: #d41443;
}

.copyright {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #e1e1e1;
  margin-top: 10px;
  padding-top: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .copyright {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .copyright {
    width: 1200px;
  }
}
.copyright .copyright__text {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding-bottom: 3px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .copyright .copyright__text {
    width: 100%;
    line-height: 1.86;
  }
}
.copyright .footer__tel {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .copyright .footer__tel {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .copyright .footer__tel {
    font-size: 16px;
  }
}
.copyright .footer__tel-link {
  color: #d41443;
}

.backdrop {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-property: opacity, pointer-events, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
@media screen and (max-wodth: 767px) {
  .backdrop {
    padding: 60px 20px;
  }
}
.backdrop__modal {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  overflow: auto;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .backdrop__modal {
    position: absolute;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    padding: 40px;
    width: 528px;
  }
}/*# sourceMappingURL=index.css.map */