// -------- сброс отсутпов и точек в списках
.padding-list {
  padding-left: 0;
  list-style-type: none;
}

// -------- сброс подчеркиванния ссылок
.link {
  text-decoration: none;
}

// ----- Скрывет текст
.text-delete {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
