// -------- МИКСИНЫ --------
// -------- Позиционированные элементы -------
@mixin positioning($position: relative) {
  position: $position;
}

// .header {
//  @include positioning(absolute);
// }

//  ------ breakpoints(точки перелома макета) --------

// ----- произвольаня ширина до максимальной(max-width) ------
@mixin free-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
// .header {
// @include free-width(767px) {
//    background-color: #fff;
// }
// }

// ---- ТАБЛЕТКА ---------
@mixin tablet() {
  @media screen and (min-width: 768px) {
    @content;
  }
}
// .header {
// @include tablet{
//    background-color: #fff;
// }
// }

//  ----- ДЕСКТОП версия ------
@mixin desktop() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// ----- Миксин кубика для анимации
@mixin transitions($tr-property...) {
  transition-property: $tr-property;

  transition-duration: 250ms;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin flexCenter($type: flex, $main-axis: center, $cross-axis: center) {
  display: $type;
  justify-content: $main-axis;
  align-items: $cross-axis;
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
