$colors: (
  'global-bacground': #ffffff,

  // ------ цвета для текста  ----
  'white-text': #ffffff,
  'black-text': #000000,
  'primary-text': #d41443,
  'secondary-text': #ffa5ba,
  'tertiary-text': #907e82,
  'copyright-text': #907e82,

  // ------ цвета для элементов  ----
  'white-color': #ffffff,
  'primary-color': #ffb8ca,
  'secondary-color': #f0d1a5,
  'tertiary-color': #c2e297,
  'quaternary-color': #ffa5ba,

  // ------ соцсети и кнопки----
  'font-section-color': #fff5f6,
  'social-networks': #fea5bb,
  'social-networks-hover': #d41443,
  'button-color': #d41443,
  'button-white': #ffffff,
  'button-hover-white': #ecebeb,
  'button-hover-red': #d41342,
);

@function getColor($key) {
  @return map-get($colors, $key);
}
// ----- Пример использования ----
// .header {
//   background-color: getColor('button-color');
// }
// =================================

// --------- ШРИФТЫ -----
$fontPrimery: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', cursive;
// ===========================

// ---------- стандарные отсутпы
$card-set-gap-small: 16px;
$card-set-gap-big: 32px;