<section class="advantages section" id="advantages">
  <div class="container">
    <h2 class="advantages__titles text-delete">Advantages of our products</h2>
    <ul class="advantages__list padding-list">
      <li class="advantages__item">
        <div class="advantages__box">
          <svg class="advantages__icon" width="33" height="50">
            <use href="./images/icons.svg#icon-Group-5-1"></use>
          </svg>
        </div>
        <p class="advantages__title">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__box">
          <svg class="advantages__icon" width="50" height="50">
            <use href="./images/icons.svg#icon-apples-svgrepo-com-1-1"></use>
          </svg>
        </div>
        <p class="advantages__title">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__box">
          <svg class="advantages__icon" width="40" height="50">
            <use href="./images/icons.svg#icon-Group-4-1"></use>
          </svg>
        </div>
        <p class="advantages__title">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
