<section class="contacts">
    <div class="container contacts__container">
        <h2 class="is-hidden">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <h3 class="contacts__title"><span>CAFE</span></h3>
                <h4 class="contacts__subtitle">Chicago</h4>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <h4 class="contacts__workdays">Monday - Friday</h4>
                <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
                <h4 class="contacts__workdays">Saturday - Sunday</h4>
                <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
                <a class="contacts__nav" href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                <a class="contacts__nav" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="contacts__item">
                <h3 class="contacts__title"><span>CAFE</span></h3>
                <h4 class="contacts__subtitle">Los Angeles</h4>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <h4 class="contacts__workdays">Monday - Friday</h4>
                <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
                <h4 class="contacts__workdays">Saturday - Sunday</h4>
                <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
                <a class="contacts__nav" href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                <a class="contacts__nav" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="contacts__item">
                <h3 class="contacts__title"><span>FOODTRUCK</span></h3>
                <h4 class="contacts__subtitle">New York</h4>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <h4 class="contacts__workdays">Monday - Friday</h4>
                <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
                <h4 class="contacts__workdays">Saturday - Sunday</h4>
                <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
                <a class="contacts__nav" href="tel:+61(0) 383 766 284 ">+61(0) 383 766 284</a>
                <a class="contacts__nav" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>    
        </ul>
        <button type="button" class="contacts__btn-primary">Our Locations
            <span class="">
                <svg class="icon-btn"><use href="../images/icons.svg#icon-btn"></use>
            </svg></span>
        </button>
        <button type="button" class="contacts__btn-secondary">Franchise
            <span class="">
            <svg class="icon-btn">
                <use href="../images/icons.svg#icon-btn"></use>
            </svg></span></button> 
</section>