<h2>Customers review</h2>
<ul>
  <li>
    <picture>
      <source srcset="./images/User1-1x.jpg 1x, ./images/User1-2x.jpg 2x" />
      <img src="./images/User1-1x.jpg" alt="Users photo" />
    </picture>
    <p>
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
    <p>Emily, Los Angeles</p>
  </li>
  <li>
    <picture>
      <source srcset="./images/User2-1x.jpg 1x, ./images/User2-2x.jpg 2x" />
      <img src="./images/User2-1x.jpg" alt="Users photo" />
    </picture>
    <p>
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
    <p>Name, Location</p>
  </li>
  <li>
    <picture>
      <source srcset="./images/User3-1x.jpg 1x, ./images/User3-2x.jpg 2x" />
      <img src="./images/User3-1x.jpg" alt="Users photo" />
    </picture>
    <p></p>
    <p>
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
    <p>Name, Location</p>
  </li>
</ul>
