<section class="gallery section">
  <div class="container">
    <picture class="gallery-photo">
      <source
        srcset="
          ./images/gallery/gallery_desktop.png    1x,
          ./images/gallery/gallery_desktop@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/gallery/gallery_tabl.png    1x,
          ./images/gallery/gallery_tabl@2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <source
        srcset="
          ./images/gallery/gallery_mob.png    1x,
          ./images/gallery/gallery_mob@2x.png 2x
        "
        media="(max-width: 320px)"
      />
      <img
        src="./images/gallery/gallery_desktop.png"
        alt="ice cream pictures"
        width="100%"
      />
    </picture>
  </div>
</section>
