<section class="gallery section" id="gallery">
  <div class="gallery-grid container">
    <h2 class="text-delete">Gallery</h2>
    <div class="gallery-grid-1">
      <picture>
        <source
          srcset="
            ./images/gallery/home-pic-desk1-min.png    1x,
            ./images/gallery/home-pic-desk1@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic-tabl1-min.png    1x,
            ./images/gallery/home-pic-tabl1@2x-min.png 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic1-min.png    1x,
            ./images/gallery/home-pic1@2x-min.png 2x
          "
          media="(max-width: 320px)"
        />
        <img
          class="img-position gallery--img-scale"
          src="./images/gallery/home-pic1-min.png "
          alt="ice cream picture"
        />
      </picture>
    </div>
    <div class="gallery-grid-2">
      <picture>
        <source
          srcset="
            ./images/gallery/home-pic-desk2-min.png    1x,
            ./images/gallery/home-pic-desk2@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic-tabl2-min.png    1x,
            ./images/gallery/home-pic-tabl2@2x-min.png 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic2-min.png    1x,
            ./images/gallery/home-pic2@2x-min.png 2x
          "
          media="(max-width: 320px)"
        />
        <img
          class="img-position gallery--img-scale"
          src="./images/gallery/home-pic2-min.png "
          alt="ice cream picture"
        />
      </picture>
    </div>
    <div class="gallery-grid-3">
      <picture>
        <source
          srcset="
            ./images/gallery/home-pic-desk3-min.png    1x,
            ./images/gallery/home-pic-desk3@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic-tabl3-min.png    1x,
            ./images/gallery/home-pic-tabl3@2x-min.png 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic3-min.png    1x,
            ./images/gallery/home-pic3@2x-min.png 2x
          "
          media="(max-width: 320px)"
        />
        <img
          class="img-position gallery--img-scale"
          src="./images/gallery/home-pic3-min.png "
          alt="ice cream picture"
        />
      </picture>
    </div>
    <div class="gallery-grid-4">
      <picture>
        <source
          srcset="
            ./images/gallery/home-pic-desk4-min.png    1x,
            ./images/gallery/home-pic-desk4@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic-tabl4-min.png    1x,
            ./images/gallery/home-pic-tabl4@2x-min.png 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic4-min.png    1x,
            ./images/gallery/home-pic4@2x-min.png 2x
          "
          media="(max-width: 320px)"
        />
        <img
          class="img-position gallery--img-scale"
          src="./images/gallery/home-pic4-min.png "
          alt="ice cream picture"
        />
      </picture>
    </div>
    <div class="gallery-grid-5">
      <picture>
        <source
          srcset="
            ./images/gallery/home-pic-desk5-min.png    1x,
            ./images/gallery/home-pic-desk5@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic-tabl5-min.png    1x,
            ./images/gallery/home-pic-tabl5@2x-min.png 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic5-min.png    1x,
            ./images/gallery/home-pic5@2x-min.png 2x
          "
          media="(max-width: 320px)"
        />
        <img
          class="img-position gallery--img-scale"
          src="./images/gallery/home-pic5-min.png "
          alt="ice cream picture"
        />
      </picture>
    </div>
    <div class="gallery-grid-6">
      <picture>
        <source
          srcset="
            ./images/gallery/home-pic-desk6-min.png    1x,
            ./images/gallery/home-pic-desk6@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic-tabl6-min.png    1x,
            ./images/gallery/home-pic-tabl6@2x-min.png 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic6-min.png    1x,
            ./images/gallery/home-pic6@2x-min.png 2x
          "
          media="(max-width: 320px)"
        />
        <img
          class="img-position gallery--img-scale"
          src="./images/gallery/home-pic6-min.png "
          alt="ice cream picture"
        />
      </picture>
    </div>
    <div class="gallery-grid-7">
      <picture>
        <source
          srcset="
            ./images/gallery/home-pic-desk7-min.png    1x,
            ./images/gallery/home-pic-desk7@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic-tabl7-min.png    1x,
            ./images/gallery/home-pic-tabl7@2x-min.png 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic7-min.png    1x,
            ./images/gallery/home-pic7@2x-min.png 2x
          "
          media="(max-width: 320px)"
        />
        <img
          class="img-position gallery--img-scale"
          src="./images/gallery/home-pic7-min.png "
          alt="ice cream picture"
        />
      </picture>
    </div>
    <div class="gallery-grid-8">
      <picture>
        <source
          srcset="
            ./images/gallery/home-pic-desk8-min.png    1x,
            ./images/gallery/home-pic-desk8@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic-tabl8-min.png    1x,
            ./images/gallery/home-pic-tabl8@2x-min.png 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic8-min.png    1x,
            ./images/gallery/home-pic8@2x-min.png 2x
          "
          media="(max-width: 320px)"
        />
        <img
          class="img-position gallery--img-scale"
          src="./images/gallery/home-pic8-min.png "
          alt="ice cream picture"
        />
      </picture>
    </div>
    <div class="gallery-grid-9">
      <picture>
        <source
          srcset="
            ./images/gallery/home-pic-desk9-min.png    1x,
            ./images/gallery/home-pic-desk9@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic-tabl9-min.png    1x,
            ./images/gallery/home-pic-tabl9@2x-min.png 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic9-min.png    1x,
            ./images/gallery/home-pic9@2x-min.png 2x
          "
          media="(max-width: 320px)"
        />
        <img
          class="img-position gallery--img-scale"
          src="./images/gallery/home-pic9-min.png "
          alt="ice cream picture"
        />
      </picture>
    </div>
    <div class="gallery-grid-10">
      <picture>
        <source
          srcset="
            ./images/gallery/home-pic-desk10-min.png    1x,
            ./images/gallery/home-pic-desk10@2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic-tabl10-min.png    1x,
            ./images/gallery/home-pic-tabl10@2x-min.png 2x
          "
          media="(min-width: 321px)"
        />
        <source
          srcset="
            ./images/gallery/home-pic10-min.png    1x,
            ./images/gallery/home-pic10@2x-min.png 2x
          "
          media="(max-width: 320px)"
        />
        <img
          class="img-position gallery--img-scale"
          src="./images/gallery/home-pic10-min.png "
          alt="ice cream picture"
        />
      </picture>
    </div>
  </div>
</section>
