<header class="header" id="home">
  <div class="container">
    <nav class="nav">
      <a href="" class="nav__logo">
        <picture>
          <source
            srcset="
              ./images/header/header-logo-desktop-1x.png 1x,
              ./images/header/header-logo-desktop-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/header/header-logo-tablet-1x.png 1x,
              ./images/header/header-logo-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/header/header-logo-mobile-1x.png 1x,
              ./images/header/header-logo-mobile-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/header/header-logo.png"
            alt="logo icecream"
            width="199"
          />
        </picture>
      </a>
      <ul class="menu padding-list">
        <li class="menu__item">
          <a href="#home" class="menu__link link active">Home</a>
        </li>
        <li class="menu__item">
          <a href="#advantages" class="menu__link link">About us</a>
        </li>
        <li class="menu__item">
          <a href="#about" class="menu__link link">How it’s made? </a>
        </li>
        <li class="menu__item">
          <a href="#products" class="menu__link link">Our products</a>
        </li>
        <li class="menu__item">
          <a href="#Contact" class="menu__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__btn-wrap">
      <button type="button" class="nav__mob-btn">
        <svg class="nav__mob-btn-icon" width="20" height="12">
          <use href="./images/icons.svg#icon-menu-mobile"></use>
        </svg>
      </button>
      <button type="button" class="buy-now-button buy-now-button--tablet">
        Buy now
        <svg class="mob-menu__buy-now-button-icon" width="10" height="10">
          <use href="./images/icons.svg#icon-btn"></use>
        </svg>
      </button>
    </div>
    <div class="backdrop-mb-menu is-hidden">
      <div class="mob-menu">
        <div class="mob-menu-wrap">
          <button type="button" class="mob-menu__close-btn">
            <svg class="mob-menu__close-btn-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-mob-menu-close-btn"></use>
            </svg>
          </button>
          <div class="mob-menu__top">
            <button type="button" class="buy-now-button buy-now-button-menu">
              Buy now
              <svg class="mob-menu__buy-now-button-icon" width="10" height="10">
                <use href="./images/icons.svg#icon-btn"></use>
              </svg>
            </button>
          </div>
          <div class="mob-menu__bottom">
            <ul class="mob-menu-list padding-list">
              <li class="mob-menu-list__item">
                <a href="#home" class="mob-menu-list__link link active">Home</a>
              </li>
              <li class="mob-menu-list__item">
                <a href="#advantages" class="mob-menu-list__link link"
                  >About us</a
                >
              </li>
              <li class="mob-menu-list__item">
                <a href="#about" class="mob-menu-list__link link"
                  >How it’s made?</a
                >
              </li>
              <li class="mob-menu-list__item">
                <a href="#products" class="mob-menu-list__link link"
                  >Our products</a
                >
              </li>
              <li class="mob-menu-list__item">
                <a href="#Contact" class="mob-menu-list__link link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
