<!-- Hero -->

<section class="hero">
  <div class="container">
    <div class="achive-title--wrap">
      <div class="hero__title--wrap">
        <h1 class="hero__title">
          ice cream made with
          <span class="hero__title--color">passion</span>
        </h1>
        <ul class="buttons__list padding-list">
          <li class="buttons__item">
            <button type="button" class="btn btn--product">Products</button>
          </li>
          <li class="buttons__item">
            <button type="button" class="btn btn--made">How it’s made?</button>
          </li>
        </ul>
      </div>
      <ul class="achive padding-list">
        <li class="achive__title">
          <p class="achive__amount">16</p>
          <p class="achive__position">cafes</p>
        </li>
        <li class="achive__title">
          <p class="achive__amount">23</p>
          <p class="achive__position">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero__text--wrap">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="btn--more">
        <img
          class="img-position"
          srcset="./images/hero/arrow-right.svg"
          src="./images/hero/arrow-right.svg"
          alt="more text"
        />
      </button>
    </div>
  </div>
</section>
