<!-- Hero -->

<section class="hero">
  <div class="container alignment">
    <div class="achive-title--wrap">
      <div class="hero__title--wrap">
        <h1 class="hero__title">
          ice cream<span>made with</span>

          <span class="hero__title--color">passion</span>
        </h1>
        <ul class="hero-list padding-list">
          <li class="hero-list__item">
            <a href="#products" class="hero-list__products link">Products</a>
          </li>
          <li class="hero-link__item">
            <a href="#about" class="hero-list__made link">How it’s made?</a>
          </li>
        </ul>
      </div>
      <ul class="achive padding-list">
        <li class="achive__title">
          <p class="achive__amount">16</p>
          <p class="achive__position">cafes</p>
        </li>
        <li class="achive__title">
          <p class="achive__amount">23</p>
          <p class="achive__position">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero__text--wrap">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="btn--more">
        <img
          class="img-position"
          srcset="./images/hero/arrow-right.svg"
          src="./images/hero/arrow-right.svg"
          alt="more text"
        />
      </button>
    </div>
    <picture
      ><source
        srcset="
          ./images/hero/hero-girl-desc-min.png    1x,
          ./images/hero/hero-girl-desc-2x-min.png 2x
        "
        media="(min-width: 1200px)" />
      <source
        srcset="
          ./images/hero/hero-girl-tablet-min.png    1x,
          ./images/hero/hero-girl-tablet-2x-min.png 2x
        "
        media="(min-width: 768px)" />
      <source
        srcset="./images/hero/1on1-min.jpg 1x, ./images/hero/1on1-min.jpg 2x"
        media="(min-width: 320px)" />

      <img
        class="girl animate__animated animate__fadeIn img-position"
        src="./images/hero/hero-girl-tablet-min.png"
        alt="girl eat icecream"
    /></picture>
    <picture
      ><source
        srcset="
          ./images/hero/hero-milk-desc-min.png    1x,
          ./images/hero/hero-milk-desc-2x-min.png 2x
        "
        media="(min-width: 1200px)" />
      <source
        srcset="
          ./images/hero/hero-milk-tablet-min.png    1x,
          ./images/hero/hero-milk-tablet-2x-min.png 2x
        "
        media="(min-width: 768px)" />
      <source
        srcset="./images/hero/1on1-min.jpg 1x, ./images/hero/1on1-min.jpg 2x"
        media="(min-width: 320px)" />
      <img
        class="milk animate__animated animate__fadeIn img-position"
        src="./images/hero/hero-milk-tablet-min.png"
        alt="jug of milk"
    /></picture>
    <picture
      ><source
        srcset="
          ./images/hero/hero-icecream-desctop.png    1x,
          ./images/hero/hero-icecream-desctop-2x.png 2x
        "
        media="(min-width: 1200px)" />
      <source
        srcset="
          ./images/hero/hero-icecream-tablet.png    1x,
          ./images/hero/hero-icecream-tablet-2x.png 2x
        "
        media="(min-width: 768px)" />
      <source
        srcset="
          ./images/hero/hero-icecream-mob.png    1x,
          ./images/hero/hero-icecream-mob-2x.png 2x
        "
        media="(min-width: 320px)" />
      <img
        class="icecream img-position animate__animated animate__fadeIn"
        src="./images/hero/hero-icecream-mob.png"
        alt="icecream"
    /></picture>
  </div>
</section>
