<!-- Hero -->

<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="buttons__list padding-list">
      <li class="buttons__item">
        <button type="button" class="btn btn--product">Products</button>
      </li>
      <li class="buttons__item">
        <button type="button" class="btn btn--made">How it’s made?</button>
      </li>
    </ul>
    <ul class="achive padding-list">
      <li class="achive__title">
        <p class="achive__amount">16</p>
        <p class="achive__position">cafes</p>
      </li>
      <li class="achive__title">
        <p class="achive__amount">23</p>
        <p class="achive__position">food trucks</p>
      </li>
    </ul>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <button type="button" class="btn btn--more"></button>
  </div>
</section>
