<!-- МОДАЛЬНОЕ ОКНО -->
<div class="backdrop" data-modal>
  <div class="backdrop__modal">
    <!-- Кнопка закрытия -->
    <button class="backdrop__button-close" type="button" data-modal-close>
      <svg class="modal__close-btn-icon" width="11" height="11">
        <use href="./images/icons.svg#icon-mob-menu-close-btn"></use>
      </svg>
    </button>
    <div class="tumb-modal">
      <!-- Звголовок формы -->
      <h2 class="tumb-modal__titel">
        Leave your details, we will call you back
      </h2>

      <form class="form" autocomplete="off">
        <div class="form__block-user-data">
          <div class="form__fild">
            <input type="text" name="name" class="form__input" />
            <label class="form__label" name="name">Name</label>
          </div>

          <div class="form__fild">
            <input type="tel" name="tel" class="form__input" />
            <label class="form__label" name="tel">Phone</label>
          </div>

          <div class="form__fild">
            <input type="email" name="email" class="form__input" />
            <label class="form__label" name="email">E-mail</label>
          </div>

          <div class="form__fild">
            <textarea
              class="form__comment"
              rows="5"
              placeholder="Введите текст"
            ></textarea>
            <label class="form__label"></label>
          </div>

        Соглашенние с рассылкой. ЧЕКБОКС
        <div class="form__agreemenr">
          <label class="form__check-label">
            <input
              type="checkbox"
              name="agreement"
              class="form__check-modal form__check-modal--checked"
            />
            <span class="form__check-icon"></span>
            Соглашаюсь с рассылкой и принимаю

            <a href="" class="form__modal-treaty">Условия договора</a>
          </label>
        </div>

        Кнопка отправки
        <div class="form__box-modal-send">
          <button type="submit" class="form__modal-send">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>
