<section class="products section" id="products">
  <div class="container">
    <span class="products__sub-title">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list padding-list">
      <li class="products__item">
        <div class="products__wrap">
          <div class="front1">
            <h3 class="products__item-title">ice cream</h3>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
          <!-- <button type="button" class="products__btn">
            <img
              srcset="
                ./images/products/arrow-right-1x.png,
                ./images/products/arrow-right-2x.png
              "
              src="./images/products/arrow-right-1x.png"
              alt="Product info"
              width="40"
              height="40"
            />
          </button> -->

          <!--Products info modal-->
          <div class="back1">
            <div class="products-info-modal">
              <p class="products-info__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero
                vitae a, repellendus aut vero ut nobis. Eos impedit
                exercitationem deleniti fuga expedita et quisquam nesciunt iste
                corrupti itaque? Quaerat, ipsa. Aut dolores a natus, consequatur
                officia voluptatibus, omnis eveniet nobis nostrum quidem minus
                vero odio, numquam ab molestiae excepturi delectus.
              </p>
            </div>
            <!-- <button type="button" class="products__btn-close">
              <img
                srcset="
                  ./images/products/arrow-right-1x.png,
                  ./images/products/arrow-right-2x.png
                "
                src="./images/products/arrow-right-1x.png"
                alt="Product info"
                width="40"
                height="40"
              />
            </button> -->
          </div>
          <!------------------------>
          <button class="products__btn products__btn-common1">
            <img
              srcset="
                ./images/products/arrow-right-1x.png,
                ./images/products/arrow-right-2x.png
              "
              src="./images/products/arrow-right-1x.png"
              alt="Product info"
              width="40"
              height="40"
            />
          </button>
        </div>
      </li>

      <li class="products__item">
        <div class="products__wrap">
          <div class="front2">
            <h3 class="products__item-title">ice coffee</h3>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
          <!--<button type="button" class="products__btn">
            <img
              srcset="
                ./images/products/arrow-right-1x.png,
                ./images/products/arrow-right-2x.png
              "
              src="./images/products/arrow-right-1x.png"
              alt="Product info"
              width="40"
              height="40"
            />
          </button>-->

          <!--Products info modal-->
          <div class="back2">
            <div class="products-info-modal">
              <p class="products-info__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero
                vitae a, repellendus aut vero ut nobis. Eos impedit
                exercitationem deleniti fuga expedita et quisquam nesciunt iste
                corrupti itaque? Quaerat, ipsa. Aut dolores a natus, consequatur
                officia voluptatibus, omnis eveniet nobis nostrum quidem minus
                vero odio, numquam ab molestiae excepturi delectus.
              </p>
            </div>
            <!-- <button type="button" class="products__btn-close">
              <img
                srcset="
                  ./images/products/arrow-right-1x.png,
                  ./images/products/arrow-right-2x.png
                "
                src="./images/products/arrow-right-1x.png"
                alt="Product info"
                width="40"
                height="40"
              />
            </button> -->
          </div>
          <!------------------------>
          <button class="products__btn products__btn-common2">
            <img
              srcset="
                ./images/products/arrow-right-1x.png,
                ./images/products/arrow-right-2x.png
              "
              src="./images/products/arrow-right-1x.png"
              alt="Product info"
              width="40"
              height="40"
            />
          </button>
        </div>
      </li>

      <li class="products__item">
        <div class="products__wrap">
          <div class="front3">
            <h3 class="products__item-title">milkshakes</h3>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
          </div>
          <!--Products info modal-->
          <div class="back3">
            <div class="products-info-modal">
              <p class="products-info__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero
                vitae a, repellendus aut vero ut nobis. Eos impedit
                exercitationem deleniti fuga expedita et quisquam nesciunt iste
                corrupti itaque? Quaerat, ipsa. Aut dolores a natus, consequatur
                officia voluptatibus, omnis eveniet nobis nostrum quidem minus
                vero odio, numquam ab molestiae excepturi delectus.
              </p>
            </div>
            <!-- <button type="button" class="products__btn-close">
              <img
                srcset="
                  ./images/products/arrow-right-1x.png,
                  ./images/products/arrow-right-2x.png
                "
                src="./images/products/arrow-right-1x.png"
                alt="Product info"
                width="40"
                height="40"
              />
            </button> -->
          </div>
          <!------------------------>
          <button class="products__btn products__btn-common3">
            <img
              srcset="
                ./images/products/arrow-right-1x.png,
                ./images/products/arrow-right-2x.png
              "
              src="./images/products/arrow-right-1x.png"
              alt="Product info"
              width="40"
              height="40"
            />
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
