// ----- RED -----
%btn-primary {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: $fontPrimery;

  border: none;
  border-radius: 20px;
  background-color: getColor('button-color');
  color: getColor('white-text');
  cursor: pointer;
  @include transitions(background-color);

  &:hover,
  &:focus {
    background-color: getColor('button-hover-red');
  }
}

// ----- Пример использования-----
// .button {
//   @extend %btn-primary;
//   padding-bottom: 20px;
// }

// ---- white -----
%btn-secondary {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: $fontPrimery;

  border: none;
  border-radius: 20px;
  background-color: getColor('button-white');
  color: getColor('primary-text');
  cursor: pointer;
  @include transitions(background-color);

  &:hover,
  &:focus {
    background-color: getColor('button-hover-white');
  }
}
