// ---- CONTAINER -----
.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;

  width: 320px;

  @include tablet() {
    width: 768px;
  }

  @include desktop() {
    width: 1200px;
  }
}
