.about__title {
  @extend %title-text-primary;
  display: block;
  margin-top: 15px;
  @media screen and (min-width: 768px) {
    margin-top: 16px;
  }
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
  @extend %title-text-primary;
}
.about__span-title {
  @extend %title-text-secondary;
  text-align: center;
  display: block;
}
// .about__span-title--secondary {
//   @extend %title-text-primary;
//   display: block;
//   margin-top: 15px;
//   @media screen and (min-width: 768px) {
//     margin-top: 16px;
//   }
// }

// .container {
//   @media screen and (min-width: 1199px) {
//     width: 768px;
//     padding-left: 32px;
//     padding-right: 32px;
//   }
//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//   }
// }
.container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
  }
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../images/about/milk.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 76%;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    background-image: none;
  }
  // @media screen and (min-width: 1200px) {
  // background-image: url(../images/about/milk-desktop.png);
  // background-repeat: no-repeat;
  // background-position: top;
  // @media (min-device-pixel-ratio: 2),
  //   (-webkit-min-device-pixel-ratio: 2),
  //   (-o-min-device-pixel-ratio: 2/1),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: url(../images/about/milk-desk-1x.png);
  // }
  // }
}

.about__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 100%;
    margin-left: 32px;
  }
  @media screen and (min-width: 1200px) {
    width: 501px;
    margin-left: 99px;
  }

  &:not(:last-child) {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  & img {
    min-width: 280px;
    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }
}

.about__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  padding-right: 80px;
  color: getColor('tertiary-text');

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    width: 100%;
    margin-bottom: 10px;
    letter-spacing: 0.04em;
    line-height: 25px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }

  &--black {
    color: getColor('black-text');

    margin-bottom: 40px;
    @media screen and (min-width: 1200px) {
      margin-top: 90px;
      margin-bottom: 32px;
    }
  }
}

.about__button {
  @extend %btn-secondary;
  width: 176px;
  height: 44px;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  padding: 0;

  .about__button-icon {
    stroke: getColor('button-color');
    margin-left: 13px;
  }
}

.about-section {
  background-color: getColor('font-section-color');
  @include free-width(767px) {
    padding-bottom: 40px;
    padding-top: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/about/milk-desktop.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;

    background-size: 100% auto;
    // background-position: 50% 76%;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (-o-min-device-pixel-ratio: 2/1),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/milk-desk-1x.png);
    }
  }
}
