// .advantages__main

.advantages.section {
  background-color: getColor('font-section-color');
  padding-top: 0;
  padding-bottom: 60px;
}

.advantages .container {
  padding-bottom: 0;

  @include tablet {
    padding: 0 32px;
  }

  @include desktop {
    padding: 0 16px;
  }
}

// .advantages__list

.advantages__list {
  display: inline-block;
  margin: 0 auto;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }
}

// .advantages__item

.advantages__item {
  @include free-width(767px) {
    width: 230px;
  }
}

.advantages__item:not(:last-child) {
  @include free-width(767px) {
    margin-bottom: 32px;
  }

  @include tablet {
    margin-right: 5px;
  }

  @include desktop {
    margin-right: 115px;
  }
}

// .advantages__box

.advantages__box {
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 36px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

// .advantages__title

.advantages__title {
  height: 56px;
  margin-bottom: 5px;

  @extend %title-text-primary;

  font-size: 36px;
  text-align: left;

  color: getColor('primary-text');

  @include tablet {
    margin-bottom: 13px;
    font-size: 48px;
    letter-spacing: 0.04em;
  }

  @include desktop {
    height: 65px;
    margin-bottom: 16px;
    font-size: 58px;
    letter-spacing: 0.04em;
  }
}

// .advantages__text

.advantages__text {
  font-family: $fontPrimery;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  text-align: left;

  color: getColor('black-text');

  @include tablet {
    width: 180px;
    font-size: 14px;
    line-height: 1.74;
  }

  @include desktop {
    width: 288px;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
