.contacts{
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgba(255, 245, 246, 1) 20%);
    padding-bottom: 40px;

    @include tablet{
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 40%, rgba(255, 245, 246, 1) 40%);
    }

    @include desktop{
        padding-bottom: 60px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 10%, rgba(255, 245, 246, 1) 10%);
    }
}

.contacts__container{
    @include tablet{
        padding-right: 16px;
        padding-left: 16px;
    }
}

.contacts__list{
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    padding: 0;
    width: 100%;

    @include tablet {
        font-size: 14px;
        display: flex;
        gap: 32px;
    }  

    @include desktop{
        font-size: 16px;
    }
}

.contacts__item{
    background: getColor('global-bacground');
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px;
    margin-bottom: 20px;
    width: 100%;

   @include tablet{
    margin-bottom: 60px;
    width: calc((100% - 64px) / 3);
   }
    
}



.contacts__title{
    color: getColor('white-color');
    letter-spacing: 0.04em;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 20px;
    background-color: getColor('secondary-color');
    border-radius: 4px;
    width: 80px;
    height: 16px;
    @include flexCenter;
   
    @include tablet{
        margin-bottom: 32px;
        font-size: 16px;
        height: 28px;
        border-radius: 6px;
        width: 73px;
    }
}
 
.contacts__title--color {
    background-color: getColor('tertiary-color');
    width: 130px;

    @include tablet{
        width: 138px;
    }
}

.contacts__line{
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 24px;
    padding-bottom: 24px;


    @include tablet{
        margin-bottom: 32px;
        padding-bottom: 32px;
    }

}

.contacts__subtitle{
  
    letter-spacing: 0.04em;
    margin-bottom: 8px;
}

.contacts__text{
    line-height: 1.5;    
    color: getColor('copyright-text');
}

.contacts__work-time{
    font-size: 12px;
    color: getColor('quaternary-color');  

    @include tablet {
        font-size: 14px;
        letter-spacing: 0.025em;
    }

    @include desktop{
    letter-spacing: 0.04em;
    }
}
.contacts__work-time--margin{ 
    margin-bottom: 8px;

    @include tablet{
        margin-bottom: 12px;
    }
}


.contacts__nav{
    display: block;
    text-decoration: none;
    color: getColor('copyright-text');

    &:hover, &:focus{
        color: getColor('social-networks-hover');
    }

}

.contacts__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    
    @include tablet{
        flex-direction: row;
        justify-content: center;
        align-content: center;
        
    }
}

.contacts__btn-primary{
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31; 
    height: 44px;
    width: 161px;
    @extend %btn-primary;
    margin-bottom: 10px;
    border-radius: 22px;
    
    @include tablet{
        margin-right: 14.5px;
        width: 191px;
        margin-bottom: 0;
    }

    @include desktop{
        margin-right: 12px;
        width: 198px;
   }
}

.contacts__btn-secondary{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    justify-content: center;
    height: 44px;
    width: 161px;
    border-radius: 22px;
    @extend %btn-secondary;

    @include tablet {
        width: 174px;
    }

    @include desktop{
        width: 168px;
    }
}

.icon-btn{
    stroke: getColor('white-color');
    margin-left: 8px;
  
}

.icon-btn-secondary{
    stroke: getColor('button-color');
    margin-left: 13px;

    @include tablet{
        margin-left: 8px;
    }
}