.reviews {
  padding-bottom: 88px;
  @include tablet {
    padding-bottom: 124px;
  }
  @media screen and (max-width: 1199px) {
    padding-top: 0;
  }
}

.reviews__container {
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    width: 620px;
  }
  @include desktop {
    width: 968px;
  }
}

.reviews__list {
  display: flex;
}

.reviews__item {
  text-align: center;
}

.reviews__comment-general-wrapper {
  margin-bottom: 16px;
}

.reviews__comment-wrapper {
  position: relative;
  padding-top: 43px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fafafa;
  @include tablet {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 37px;
  }
  @include desktop {
    padding-top: 47px;
    padding-left: 73px;
    padding-right: 74px;
  }
}

.reviews__comment {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.5833;
  @include tablet {
    font-size: 14px;
    line-height: 2.1428;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.875;
  }
}

.reviews__comment-wrapper--for-quote {
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 8px;
  background: repeating-linear-gradient(
    to bottom,
    transparent -1px,
    transparent 29px,
    transparent 29px,
    #e1e1e1 31px
  );

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 45px;
    padding-right: 50px;
    padding-bottom: 44px;

    background-image: linear-gradient(
        to top,
        #fafafa,
        #fafafa 34px,
        transparent 34px,
        transparent
      ),
      repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 29px,
        transparent 29px,
        #e1e1e1 31px
      );
  }

  &::before {
    content: '';
    background-image: url(../images/clients-review/quote.svg);
    position: absolute;
    top: 30px;
    left: 53px;
    width: 54px;
    height: 40px;
    background-size: contain;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 60px;
      height: 40px;
    }

    @include tablet {
      left: 6px;
      top: 20px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    @include desktop {
      left: 72px;
      top: 32px;
    }
  }
}

.reviews__img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.reviews__user-data {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;

  &::before {
    content: '';
    display: block;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    width: 32px;
    height: 4px;
    background-image: url(../images/clients-review/ellipse.svg),
      url(../images/clients-review/ellipse.svg),
      url(../images/clients-review/ellipse.svg);
    background-size: 4px, 4px, 4px;
    background-position: top 0px left 0px, top 0px left 14px, top 0px left 28px;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 4px;
    }
  }
}

.splide__pagination {
  position: relative;
  bottom: -28px;
  & li:not(:last-child) {
    margin-right: 18px;
  }
  & li {
    width: 12px;
    height: 12px;
  }
  & button {
    margin: 0;
    background-color: #d9d9d9;
  }
}

.splide__pagination__page.is-active {
  background-image: url(../images/clients-review/home.svg);
  transform: scale(1);
  border-radius: 0;
  opacity: 1;
}

.splide__pagination__page {
  width: 12px;
  height: 12px;
}
