// .mob-menu {display: none;}
.footer {
    background-color: getColor('font-section-color');
}
.footer__title-box{
    max-width: 234px;

    @include desktop() {
        max-width: 100%;
     }
    
}
.footer__box {
    margin-bottom: 40px;
    @include tablet() {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

    @include desktop{
        margin-bottom: 60px;
    }
}
.footer__title {
    margin-bottom: 16px;
    text-align: left; 

    @extend %title-text-secondary;

    @include tablet(){ 
        font-size: 26px;
        line-height: 1.15;           
    }

    @include desktop(){
        font-size: 30px;
        line-height: 1.13; 

    }
}
.footer__title-second {
   
    @extend %title-text-primary;
    text-align: left;

@include tablet(){ 
    font-size: 48px;           
}
@include desktop(){ 
    font-size: 58px;
    line-height: 1.14;           
}
}

.container,.footer__container{
    padding-left: 20px;
    padding-right: 20px;
}

.footer__link {
    @include transitions(background-color);
}

.footer__list {
    display: flex;
    margin-bottom: 40px;
    justify-content: flex-end;
}

.footer__list {
    gap: 28px;
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: getColor('social-networks');
    width: 32px;
    height: 32px;
}

.footer__link:hover {
    background-color: getColor('social-networks-hover');
}

// .footer__copyright::before {
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     content: "";
//     min-width: 100vw;
//     height: 1px;
//     background-color: #E1E1E1;
//     margin-bottom: 16px;
// }



// hr {
//     display: block;
//     border-width: 0;
//     width: 100vw;
//     height: 1px;
//     background-color: #E1E1E1;
//     color: #E1E1E1;
//     margin-top: 0;
//     margin-bottom: 16px;
//     margin-right: 0;
//     @include tablet(){
//         margin-bottom: 8px;
//         width: 100%;

//     }
// }
.copyright {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #E1E1E1;
    margin-top: 10px;
    padding-top: 16px;
    text-align: center;

    @include tablet {
        width: 768px;
    }
    @include desktop {
        width: 1200px;



}
.copyright__text {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding-bottom: 3px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    text-align: center;
    color: getColor('copyright-text');


    @include tablet(){
        width: 100%;
        line-height: 1.86;
    }
    

}
 .footer__tel {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
    color: getColor('black-text');

    @include tablet(){ 
        font-size: 14px;         
    }

    @include desktop(){
        font-size: 16px;
    }
 }
.footer__tel-link {
    color: getColor('primary-text');
}


// .footer__copyright::before {
//     display: block;
//     content: "";
//     min-width: 100vw;
//     height: 1px;
//     background-color: #E1E1E1;
//     margin-bottom: 16px;
//     margin-top: 10px;

//     @include tablet {
//         width: 100%;
//     }

// }

