// .mob-menu {display: none;}
.footer {
    background-color: getColor('font-section-color');

    @include desktop(){
    padding-top: 60px;
}
}
.footer__title-box{
    // max-width: 234px;

    @include free-width(767px){
        margin-bottom: 40px;
    }
    @include desktop() {
        max-width: 100%;
     }   
}
.container.footer__container{
    @include tablet(){
        padding-left: 18px;
        padding-right: 18px;
    }
}
.footer__container{
    margin-bottom: 40px;

    @include desktop(){
        margin-bottom: 60px;
    }
}
.footer__box {
    @include tablet() {
        display: flex;
      }
}

.footer__title {
    
    margin-bottom: 16px;
    text-align: left; 

    @extend %title-text-secondary;

    @include tablet(){ 
        font-size: 26px;
        line-height: 1.15;           
    }

    @include free-width(1199px){
        display: flex;
        flex-direction: column;
    }

    @include desktop(){
        font-size: 30px;
        line-height: 1.13; 
    }
}
.footer__title-second {
    
    @extend %title-text-primary;
    text-align: left;
color: getColor('primary-text');

@include tablet(){ 
    font-size: 48px;           
}

@include free-width(1199px){
    display: flex;
    flex-direction: column;
}

@include desktop(){ 
    font-size: 58px;
    line-height: 1.14;           
}
}

.footer__contact{
    @include tablet() {
    display: block;
    margin-left: auto;
    padding-top: 60px;

}
 @include desktop() {
    margin-top: 12px;
 }
}

// .container,.footer__container{
//     padding-left: 20px;
//     padding-right: 20px;
// }

.footer__link {
    @include transitions(background-color);
}

.footer__list {
    display: flex;
    margin-bottom: 40px;
    justify-content: flex-end;
    @include tablet(){
        width: 100%;
        
    }
}

.footer__list {
    gap: 28px;
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: getColor('social-networks');
    width: 32px;
    height: 32px;
}

.footer__link:hover {
    background-color: getColor('social-networks-hover');
}
.copyright {
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #E1E1E1;
    padding-top: 16px;
    padding-bottom: 3px;

    @include tablet {
        width: 768px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    @include desktop {
        width: 1167px;
    }

}
.copyright__text {
    margin-left: auto;
    margin-right: auto;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: getColor('copyright-text');

    @include free-width(767px){
        display: flex;
        flex-direction: column;
    }
    @include tablet(){
        width: 100%;
        line-height: 1.86;
    }


}

 .footer__tel {
    font-family: 'DM Sans';
  
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
    color: getColor('black-text');

    @include tablet(){ 
        font-size: 14px;         
    }

    @include desktop(){
        font-size: 16px;
    }
 }
.footer__tel-link {
    color: getColor('primary-text');
}



