.products__sub-title {
  display: block;
  @extend %title-text-secondary;
  margin-bottom: 15px;
  @include tablet {
    margin-bottom: 18px;
  }
  @include desktop {
    margin-bottom: 16px;
  }
}

.products__title {
  @extend %title-text-primary;
  margin-bottom: 148px;
  @include tablet {
    margin-bottom: 158px;
  }
  @include desktop {
    margin-bottom: 281px;
  }
}

.products__list {
  display: block;
  @include tablet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.products__item {
  position: relative;
  text-align: center;
  flex-grow: 1;
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    margin-bottom: 140px;
  }

  @include tablet {
    width: calc((100% - 32px) / 3);
    margin-right: 16px;
  }
  @include desktop {
    width: calc((100% - 64px) / 3);
    margin-right: 32px;
  }
  transition: animation 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__item:nth-child(3n) {
  margin-right: 0px;
  margin-bottom: 0px;
}

.products__item:nth-child(1) .front1 {
  background: getColor('primary-color');
}

.products__item:nth-child(2) .front2 {
  background: getColor('secondary-color');
}

.products__item:nth-child(3) .front3 {
  background: getColor('tertiary-color');
}

.products__item:nth-child(1)::before {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  background-image: url('../images/products/ice-cream-1x.png');

  @include retina {
    background-image: url('../images/products/ice-cream-2x.png');
  }

  @include tablet {
    width: 100%;
    min-height: 224px;
    transform: translateY(-138px);
    background-image: url('../images/products/ice-cream-tab-1x.png');
    @include retina {
      background-image: url('../images/products/ice-cream-tab-2x.png');
    }
  }
  @include desktop {
    width: 100%;
    min-height: 394px;
    transform: translateY(-261px);
    background-image: url('../images/products/ice-cream-desk-1x.png');
    @include retina {
      background-image: url('../images/products/ice-cream-desk-2x.png');
    }
  }
}

.products__item:nth-child(2)::before {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  background-image: url('../images/products/coffee-1x.png');

  @include retina {
    background-image: url('../images/products/coffee-2x.png');
  }

  @include tablet {
    width: 100%;
    min-height: 224px;
    transform: translateY(-138px);
    background-image: url('../images/products/coffee-tab-1x.png');
    @include retina {
      background-image: url('../images/products/coffee-tab-2x.png');
    }
  }
  @include desktop {
    width: 100%;
    min-height: 394px;
    transform: translateY(-261px);
    background-image: url('../images/products/coffee-desk-1x.png');
    @include retina {
      background-image: url('../images/products/coffee-desk-2x.png');
    }
  }
}

.products__item:nth-child(3)::before {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  background-image: url('../images/products/milkshake-1x.png');

  @include retina {
    background-image: url('../images/products/milkshake-2x.png');
  }

  @include tablet {
    width: 100%;
    min-height: 224px;
    transform: translateY(-138px);
    background-image: url('../images/products/milkshake-tab-1x.png');
    @include retina {
      background-image: url('../images/products/milkshake-tab-2x.png');
    }
  }
  @include desktop {
    width: 100%;
    min-height: 394px;
    transform: translateY(-261px);
    background-image: url('../images/products/milkshake-desk-1x.png');
    @include retina {
      background-image: url('../images/products/milkshake-desk-2x.png');
    }
  }
}

.products__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  perspective: 4000px;
}

.products__item-title {
  font-family: $fontSecondary;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  color: getColor('white-text');

  margin-top: 20px;

  @include tablet {
    margin-top: 32px;
  }

  @include desktop {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__item-title::after {
  content: '';
  display: block;
  margin: 32 auto;
  width: 26px;
  height: 6px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-image: url('../images/products/products-dot.svg'),
    url('../images/products/products-dot.svg'),
    url('../images/products/products-dot.svg');
  background-position: 0px 0px, 10px 0px, 20px 0px;
}

.products__text {
  font-family: $fontPrimery;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: getColor('white-text');

  margin-bottom: 32px;

  @include tablet {
    line-height: 1.75;
    margin-bottom: 32px;
  }
  @include desktop {
    margin-bottom: 60px;
  }
}

.products__btn {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  margin: 0 auto 40px;
  @include tablet {
    margin-top: 32px;
  }
  @include desktop {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  border-radius: 50%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

/*-----------------Products info modal---------------------*/

/*кнопка*/
.products__btn-common1,
.products__btn-common2,
.products__btn-common3 {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*кнопка*/
/*спільний контейнер*/
.products__wrap {
}
/*спільний контейнер*/

/*змінні контейнери*/
.front1,
.back1,
.front2,
.back2,
.front3,
.back3 {
  //position: relative;
  top: 0;
  left: 0;

  backface-visibility: hidden;
  transition: transform 2000ms;
  border-radius: 24px;
}

.front1,
.front2,
.front3 {
  position: relative;

  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 140px;
  padding-bottom: 80px;

  @include tablet {
    padding-top: 86px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    padding-top: 133px;
    padding-left: 61px;
    padding-right: 62px;
    padding-bottom: 100px;
  }
}

.front1.is-passive,
.front2.is-passive,
.front3.is-passive {
  transform: rotateY(180deg);
}
.back1,
.back2,
.back3 {
  position: absolute;
  background: #fff5f6;
  height: 100%;
  padding: 160px 40px 100px;

  @include tablet {
    padding: 100px 30px 100px;
  }
  @include desktop {
    padding: 160px 45px 100px;
  }

  transform: rotateY(180deg);
}

.back1.is-active,
.back2.is-active,
.back3.is-active {
  transform: rotateY(360deg);
}

.products-info__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: getColor('tertiary-text');

  @include tablet {
  }
  @include desktop {
    font-size: 14px;
  }
}

/*змінні контейнери*/

/*.products-info-modal {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff5f6;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 24px;

  padding: 160px 40px 100px;

  transition: animation 500ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: rotateY 1000ms 1 alternate ease-in-out 100ms;
  @keyframes rotateY {
    0% {
      transform: perspective(500px) rotateY(0deg);
    }

    100% {
      transform: perspective(500px) rotateY(180deg);
    }
  }
  @include tablet {
    padding: 100px 30px 100px;
  }
  @include desktop {
    padding: 160px 45px 100px;
  }
}*/

// це мають бути стилі для прихованої частини карти і вони спочатку visibility: hidden
// при цьому розвернуті, так, ніби анімація розвороту вже зроблена
// .products-info-modal.is-info-hidden {
//   visibility: hidden;
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   background: #fff5f6;
//   background-size: cover;
//   width: 100%;
//   height: 100%;
//   border-radius: 24px;

//   padding: 160px 40px 100px;

//   @include tablet {
//     padding: 100px 30px 100px;
//   }
//   @include desktop {
//     padding: 160px 45px 100px;
//   }

//   transition: animation 500ms cubic-bezier(0.4, 0, 0.2, 1);

/* animation: rotateY 1000ms 1 backwards ease-in-out 100ms;
  @keyframes rotateY {
    0% {
      transform: perspective(500px) rotateY(0deg);
    }

    100% {
      transform: perspective(500px) rotateY(180deg);
    }
  }*/
// }

// це та ж частина, але вже не прихована і ми її бачимо
// .products-info-modal {
//   visibility: visible;
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   background: #fff5f6;
//   background-size: cover;
//   width: 100%;
//   height: 100%;
//   border-radius: 24px;

//   padding: 160px 40px 100px;
//   @include tablet {
//     padding: 100px 30px 100px;
//   }
//   @include desktop {
//     padding: 160px 45px 100px;
//   }

//   transition: animation 500ms cubic-bezier(0.4, 0, 0.2, 1);

/*animation: rotateY 1000ms 1 normal ease-in-out 100ms;
  @keyframes rotateY {
    0% {
      transform: perspective(500px) rotateY(0deg);
    }

    100% {
      transform: perspective(500px) rotateY(180deg);
    }
  }*/
// }
// для фронтальної частини в тебе значення за замовч. є, тобто ми її бачимо,
//тобі лишається тут зробити анімацію для фронтальної сторони і  visibility: hidden
// .products__item.is-info-hidden {
//   visibility: hidden;
//   animation: rotateY 1000ms 1 backwards ease-in-out 100ms;
//   @keyframes rotateY {
//     0% {
//       transform: perspective(500px) rotateY(0deg);
//     }

//     100% {
//       transform: perspective(500px) rotateY(180deg);
//     }
//   }
// }

/*.products__btn-close {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0.2, 0.2);
  }
  @include desktop {
    bottom: 60px;
  }
}*/

/*.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}*/
